<div class="modal-header">
    <h4> Registro de Tipo de Usuarios</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="tipoForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col">
                <label for="TipoNombre" class="form-label">NOMBRE</label>
                <input type="text" class="form-control" id="TipoNombre" 
                formControlName="TipoNombre">
            </div>
            <div *ngIf="submited && tipoForm.get('TipoNombre')?.invalid" class="text-danger">
                El campo es obligatorio.
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" 
            (click)="activeModal.dismiss()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>