<div class="modal-header">
    <h4> Registro de Area</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col">
                <label for="areaNom" class="form-label">NOMBRE</label>
                <input type="text" class="form-control" id="areaNom" formControlName="areaNom">
                <div *ngIf="submited && areaForm.get('areaNom')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="areaSalario" class="form-label">SALARIO</label>
                <input type="text" class="form-control" id="areaSalario" formControlName="areaSalario">
                <div *ngIf="submited && areaForm.get('areaSalario')?.errors" class="text-danger">
                    <div *ngIf="areaForm.get('areaSalario')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="areaForm.get('areaSalario')?.errors?.['pattern']">Debe ser un número válido.</div>
                    <div *ngIf="areaForm.get('areaSalario')?.errors?.['min']">Debe ser mayor que 0.</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onCancel()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>