<div class="modal-header">
    <h4> Registro de Zona</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="zonaForm" (ngSubmit)="onSubmit()">

        <div class="col">
            <label for="ZonaEstId" class="form-label">ESTACION</label>
            <select class="form-select me-2" style="width: 250px;" id="ZonaEstId" formControlName="ZonaEstId">
                <option [value]="0" disabled>Seleccione Estacion</option>
                <ng-container *ngFor="let estacion of estacions">

                    <option *ngIf="estacion.Estado === '1'" [value]="estacion.Id">{{ estacion.EstNombre }}</option>
                </ng-container>

            </select>
            <div *ngIf="submited && zonaForm.get('ZonaEstId')?.errors" class="text-danger">
                <div *ngIf="zonaForm.get('ZonaEstId')?.errors?.['required']">El campo es obligatorio.</div>
                <div *ngIf="zonaForm.get('ZonaEstId')?.errors?.['invalidEstacion']">Debe seleccionar una estacion válida.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="ZonaNombre" class="form-label">NOMBRE</label>
                <input type="string" class="form-control" id="ZonaNombre" formControlName="ZonaNombre">
                <div *ngIf="submited && zonaForm.get('ZonaNombre')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="ZonaDescripcion" class="form-label">DESCRIPCION</label>
                <input type="string" class="form-control" id="ZonaDescripcion" formControlName="ZonaDescripcion">
                <div *ngIf="submited && zonaForm.get('ZonaDescripcion')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>