<div class="modal-header">
    <h4> Registro de Usuario</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <label for="usuarioDni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="usuarioDni" 
                formControlName="usuarioDni">
                <div *ngIf="submited && usuarioForm.get('usuarioDni')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('usuarioDni')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('usuarioDni')?.errors?.['pattern']">Debe ser números válido.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioApePat" class="form-label">A. PATERNO</label>
                <input type="text" class="form-control" id="usuarioApePat" formControlName="usuarioApePat">
                <div *ngIf="submited && usuarioForm.get('usuarioApePat')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('usuarioApePat')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('usuarioApePat')?.errors?.['pattern']">Solo se permiten letras.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioApeMat" class="form-label">A. MATERNO</label>
                <input type="text" class="form-control" id="usuarioApeMat" 
                formControlName="usuarioApeMat">
                <div *ngIf="submited && usuarioForm.get('usuarioApeMat')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('usuarioApeMat')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('usuarioApeMat')?.errors?.['pattern']">Solo se permiten letras.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioNombres" class="form-label">NOMBRES</label>
                <input type="text" class="form-control" id="usuarioNombres" 
                formControlName="usuarioNombres">
                <div *ngIf="submited && usuarioForm.get('usuarioNombres')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('usuarioNombres')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('usuarioNombres')?.errors?.['pattern']">Solo se permiten letras.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioGenero" class="form-label">GENERO</label>
                <select class="form-select me-2" style="width:200px;" id="usuarioGenero" formControlName="usuarioGenero">
                    <option [value]="0" disabled>Seleccione Genero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <div *ngIf="submited && usuarioForm.get('usuarioGenero')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('usuarioGenero')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('usuarioGenero')?.errors?.['invalidGenero']">Debe seleccionar un género
                        válido.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioCorreo" class="form-label">CORREO</label>
                <input type="email" class="form-control" id="usuarioCorreo" formControlName="usuarioCorreo">
                <div *ngIf="submited && usuarioForm.get('usuarioCorreo')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
                <div *ngIf="usuarioForm.get('usuarioCorreo')?.errors?.['pattern']" class="text-danger">Ingrese un correo válido que termine en @gmail.com.</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioFecReg" class="form-label">F. REGISTRO</label>
                <input type="date" class="form-control" id="usuarioFecReg" formControlName="usuarioFecReg">
                <div *ngIf="submited && usuarioForm.get('usuarioFecReg')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioFecNac" class="form-label">F. NACIMIENTO</label>
                <input type="date" class="form-control" id="usuarioFecNac" formControlName="usuarioFecNac">
                <div *ngIf="submited && usuarioForm.get('usuarioFecNac')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioNom" class="form-label">USUARIO</label>
                <input type="text" class="form-control" id="usuarioNom" 
                formControlName="usuarioNom">
                <div *ngIf="submited && usuarioForm.get('usuarioNom')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="usuarioPass" class="form-label">CONTRASEÑA</label>
                <input type="password" class="form-control" id="usuarioPass" 
                formControlName="usuarioPass">
                <div *ngIf="submited && usuarioForm.get('usuarioPass')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('usuarioPass')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('usuarioPass')?.errors?.['minlength']">Debe tener al menos 5 caracteres.</div>
                  </div>
            </div>
        </div>
        <div class="col">
            <label for="usuarioTipoId" class="form-label">TIPO USUARIO</label>
            <select class="form-select me-2" style="width: 200px;" id="usuarioTipoId" formControlName="usuarioTipoId">
                <option [value]="0" disabled>Seleccione Tipo</option>
                <ng-container *ngFor="let tipo of tipos">
                <option *ngIf="tipo.estado === '1'" [value]="tipo.id">{{ tipo.tipoNom }}</option>
            </ng-container>
            </select>
            <div *ngIf="submited && usuarioForm.get('usuarioTipoId')?.errors" class="text-danger">
                <div *ngIf="usuarioForm.get('usuarioTipoId')?.errors?.['required']">El campo es obligatorio.</div>
                <div *ngIf="usuarioForm.get('usuarioTipoId')?.errors?.['invalidTipo']">Debe seleccionar un tipo válido.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" 
            (click)="activeModal.dismiss()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>