<div class="modal-header">
    <h4> Registro de Usuario</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col">
                <label for="UsuDni" class="form-label">DNI</label>
                <input type="text" class="form-control" id="UsuDni" 
                formControlName="UsuDni"  maxlength="8">
                <div *ngIf="submited && usuarioForm.get('UsuDni')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('UsuDni')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('UsuDni')?.errors?.['pattern']">Debe ser números válido.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuApePaterno" class="form-label">A. PATERNO</label>
                <input type="text" class="form-control" id="UsuApePaterno" formControlName="UsuApePaterno">
                <div *ngIf="submited && usuarioForm.get('UsuApePaterno')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('UsuApePaterno')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('UsuApePaterno')?.errors?.['pattern']">Solo se permiten letras.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuApeMaterno" class="form-label">A. MATERNO</label>
                <input type="text" class="form-control" id="UsuApeMaterno" 
                formControlName="UsuApeMaterno">
                <div *ngIf="submited && usuarioForm.get('UsuApeMaterno')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('UsuApeMaterno')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('UsuApeMaterno')?.errors?.['pattern']">Solo se permiten letras.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuNombres" class="form-label">NOMBRES</label>
                <input type="text" class="form-control" id="UsuNombres" 
                formControlName="UsuNombres">
                <div *ngIf="submited && usuarioForm.get('UsuNombres')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('UsuNombres')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('UsuNombres')?.errors?.['pattern']">Solo se permiten letras.</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuGenero" class="form-label">GENERO</label>
                <select class="form-select me-2" style="width:200px;" id="UsuGenero" formControlName="UsuGenero">
                    <option [value]="0" disabled>Seleccione Genero</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                </select>
                <div *ngIf="submited && usuarioForm.get('UsuGenero')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('UsuGenero')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('UsuGenero')?.errors?.['invalidGenero']">Debe seleccionar un género
                        válido.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuCorreo" class="form-label">CORREO</label>
                <input type="email" class="form-control" id="UsuCorreo" formControlName="UsuCorreo">
                <div *ngIf="submited && usuarioForm.get('UsuCorreo')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
                <div *ngIf="usuarioForm.get('UsuCorreo')?.errors?.['pattern']" class="text-danger">Ingrese un correo válido que termine en @gmail.com.</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuFecRegistro" class="form-label">F. REGISTRO</label>
                <input type="date" class="form-control" id="UsuFecRegistro" formControlName="UsuFecRegistro">
                <div *ngIf="submited && usuarioForm.get('UsuFecRegistro')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuFecNacimiento" class="form-label">F. NACIMIENTO</label>
                <input type="date" class="form-control" id="UsuFecNacimiento" formControlName="UsuFecNacimiento">
                <div *ngIf="submited && usuarioForm.get('UsuFecNacimiento')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuNombre" class="form-label">USUARIO</label>
                <input type="text" class="form-control" id="UsuNombre" 
                formControlName="UsuNombre">
                <div *ngIf="submited && usuarioForm.get('UsuNombre')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="UsuPassword" class="form-label">CONTRASEÑA</label>
                <input type="password" class="form-control" id="UsuPassword" 
                formControlName="UsuPassword">
                <div *ngIf="submited && usuarioForm.get('UsuPassword')?.errors" class="text-danger">
                    <div *ngIf="usuarioForm.get('UsuPassword')?.errors?.['required']">El campo es obligatorio.</div>
                    <div *ngIf="usuarioForm.get('UsuPassword')?.errors?.['minlength']">Debe tener al menos 5 caracteres.</div>
                  </div>
            </div>
        </div>
        <div class="col">
            <label for="UsuTipoId" class="form-label">TIPO USUARIO</label>
            <select class="form-select me-2" style="width: 200px;" id="UsuTipoId" formControlName="UsuTipoId">
                <option [value]="0" disabled>Seleccione Tipo</option>
                <ng-container *ngFor="let tipo of tipos">
                <option *ngIf="tipo.Estado === '1'" [value]="tipo.Id">{{ tipo.TipoNombre }}</option>
            </ng-container>
            </select>
            <div *ngIf="submited && usuarioForm.get('UsuTipoId')?.errors" class="text-danger">
                <div *ngIf="usuarioForm.get('UsuTipoId')?.errors?.['required']">El campo es obligatorio.</div>
                <div *ngIf="usuarioForm.get('UsuTipoId')?.errors?.['invalidTipo']">Debe seleccionar un tipo válido.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" 
            (click)="activeModal.dismiss()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>