<div class="modal-header">
    <h4> Registro de Empleado</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="horarioForm" (ngSubmit)="onSubmit()">

        <div class="col">
            <label for="HorEstId" class="form-label">ESTACION</label>
            <select class="form-select me-2" style="width: 250px;" id="HorEstId" formControlName="HorEstId">
                <option [value]="0" disabled>Seleccione Estacion</option>
                <ng-container *ngFor="let estacion of estacions">

                    <option *ngIf="estacion.Estado === '1'" [value]="estacion.Id">{{ estacion.EstNombre }}</option>
                </ng-container>

            </select>
            <div *ngIf="submited && horarioForm.get('HorEstId')?.errors" class="text-danger">
                <div *ngIf="horarioForm.get('HorEstId')?.errors?.['required']">El campo es obligatorio.</div>
                <div *ngIf="horarioForm.get('HorEstId')?.errors?.['invalidEstacion']">Debe seleccionar una estacion válida.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="HorLlegada" class="form-label">H. LLEGADA</label>
                <input type="string" class="form-control" id="HorLlegada" formControlName="HorLlegada">
                <div *ngIf="submited && horarioForm.get('HorLlegada')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="HorSalida" class="form-label">H. SALIDA</label>
                <input type="string" class="form-control" id="HorSalida" formControlName="HorSalida">
                <div *ngIf="submited && horarioForm.get('HorSalida')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="HorPrecio" class="form-label">PRECIO</label>
                <input type="string" class="form-control" id="HorPrecio" formControlName="HorPrecio">
                <div *ngIf="submited && horarioForm.get('HorPrecio')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>