<div class="modal-header">
    <h4> Registro de Estacion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="estacionForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col">
                <label for="EstNombre" class="form-label">NOMBRE</label>
                <input type="text" class="form-control" id="EstNombre" formControlName="EstNombre">
                <div *ngIf="submited && estacionForm.get('EstNombre')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="EstDescripcion" class="form-label">DESCRIPCION</label>
                <input type="text" class="form-control" id="EstDescripcion" formControlName="EstDescripcion">
                <div *ngIf="submited && estacionForm.get('EstDescripcion')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="onCancel()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>