<div class="modal-header">
    <h4> Registro de Empleado</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <form [formGroup]="climaForm" (ngSubmit)="onSubmit()">

        <div class="col">
            <label for="climaEstId" class="form-label">ESTACION</label>
            <select class="form-select me-2" style="width: 250px;" id="climaEstId" formControlName="climaEstId">
                <option [value]="0" disabled>Seleccione Estacion</option>
                <ng-container *ngFor="let estacion of estacions">

                    <option *ngIf="estacion.estado === '1'" [value]="estacion.id">{{ estacion.estNom }}</option>
                </ng-container>

            </select>
            <div *ngIf="submited && climaForm.get('climaEstId')?.errors" class="text-danger">
                <div *ngIf="climaForm.get('climaEstId')?.errors?.['required']">El campo es obligatorio.</div>
                <div *ngIf="climaForm.get('climaEstId')?.errors?.['invalidEstacion']">Debe seleccionar una estacion válida.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="climaFec" class="form-label">FECHA</label>
                <input type="date" class="form-control" id="climaFec" formControlName="climaFec">
                <div *ngIf="submited && climaForm.get('climaFec')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="climaTempMax" class="form-label">FECHA</label>
                <input type="text" class="form-control" id="climaTempMax" formControlName="climaTempMax">
                <div *ngIf="submited && climaForm.get('climaTempMax')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="climaTempMin" class="form-label">FECHA</label>
                <input type="text" class="form-control" id="climaTempMin" formControlName="climaTempMin">
                <div *ngIf="submited && climaForm.get('climaTempMin')?.invalid" class="text-danger">
                    El campo es obligatorio.
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()"> Cancel</button>
            <button type="submit" class="btn btn-primary"> Guardar</button>
        </div>

    </form>
</div>